@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --clr-light-1: #fefefe;
  --clr-light-2: #f6f8ff;
  --clr-light-3: #2b3442;
  --clr-light-4: #0079ff;
  --clr-light-5: #4b6a9b;
  --clr-light-6: #697c9a;

  --clr-dark-1: #ffffff;
  --clr-dark-2: #141d2f;
  --clr-dark-3: #1e2a47;
  --clr-dark-4: #0079ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--clr-light-2);
}

.content-wrapper {
  width: 800px;
  background-color: rgb(226, 225, 225);
}
