.search {
  &__box {
    position: relative;

    input {
      width: 100%;
      border: none;
      border-radius: 15px;
      font-size: 1rem;
      padding: 1.3rem 3rem;
    }

    .search-icon {
      left: 1rem;
      top: 1rem;
      color: var(--clr-dark-4);
      position: absolute;
    }

    button {
      position: absolute;
      right: 1rem;
      background-color: var(--clr-dark-4);
      top: 0.6rem;
      padding: 0.7rem 2rem;
      color: var(--clr-dark-1);
      font-size: 1rem;
      font-weight: 700;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }
}
